
body{
  text-align: center;
  font-family: helvetica;
}

.topHeader{
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.halfBanner{
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
  background-position: center;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#home{
  font-size: 70px;
  font-weight: bold;
}

a{
  color: white;
}

nav{
  font-size: 18px;
  color: white;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}
.footer{
  background-color: dimgray;
  text-align: left;
}

.copy{
  font-size: 11px;
}
